{% extends 'core/base.html' %}
{% block title %}Attribute{% endblock title %}
{% block main_content %}
<section class="container">
    <div class="row justify-content-around text-center text-white mt-5">
        <div class="col-sm-8">
            <h3>Sample Book Organizing Application</h3>
        </div>
    </div>
    <div class="row justify-content-around mt-3">
        <div class="col-sm-8">
            <a href="{% url 'add-attribute' %}" class='btn btn-primary float-end'>Add</a>
        </div>
    </div>
    <div class="row justify-content-around text-white mt-1">
        <div class="col-sm-8">
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Attribute</th>
                      <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in attributedata %}
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td>{{i.attribute}}</td>
                      <td class="aline-inline">
                        <table>
                            <tr>
                                <td>
                                    <form action="{% url 'delete-attribute' %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                                        <input type="hidden" name="id" value="{{i.id}}">
                                    </form>
                                </td>
                                <td>
                                    <a href="{% url 'edit-attribute' i.id %}" class="btn btn-info btn-sm">Edit</a>
                                </td>
                            </tr>
                        </table>
                      </td>
                    </tr>
                {% endfor %}    
                </tbody>
            </table>
        </div>
    </div>
</section>    
{% endblock main_content %}